/* variaveis das pricipais cores do site*/ 
:root { 
    --main-color:#d92123; /* Define a cor principal do site como vermelho (#d92123) */
    --primary-text-color:#fff; /* Define a cor primária do texto como branco (#fff) */
    --secondary-text-color:#191919; /* Define a cor secundária do texto como cinza escuro (#191919) */
    --secondary-color:#868686; /* Define uma cor secundária como cinza médio (#868686) */
    --tertiary-color:#eff3f4; /* Define uma cor terciária como um tom claro de azul (#eff3f4) */
    --secondary-bg-color:#5c1011; /* Define uma cor secundária de fundo como um tom escuro de vermelho (#5c1011) */
}

* { 
    font-family: "Lato"; /* Define a fonte padrão para todos os elementos como "Lato" */
    padding: 0; /* Remove o preenchimento interno padrão de todos os elementos */
    margin: 0; /* Remove a margem externa padrão de todos os elementos */
    box-sizing: border-box; /* Define que o tamanho do elemento inclui padding e border */
}

a { 
    text-decoration: none; /* Remove o sublinhado padrão dos links */
}

img { 
    width: 100%; /* Define a largura das imagens para 100% do seu contêiner */
}

#header { 
    min-height: 90vh; /* Define a altura mínima do cabeçalho como 90% da altura da viewport */
    background-image: url("../images/img/main_banner4.png"); /* Define a imagem de fundo do cabeçalho */
    background-size: cover; /* Define que a imagem de fundo deve cobrir toda a área do cabeçalho */
    background-position: center; /* Centraliza a imagem de fundo */
    color: var(--primary-text-color); /* Define a cor do texto do cabeçalho como a cor primária definida anteriormente */
    margin-bottom: 2rem; /* Adiciona uma margem inferior de 2rem ao cabeçalho */
}

#inner-header { 
    display: flex; /* Define o elemento como um flexbox container */
    justify-content: space-between; /* Distribui os elementos filhos horizontalmente com espaço entre eles */
    align-items: center; /* Alinha os elementos filhos verticalmente no centro */
}

#brand { 
    background-color: var(--main-color); /* Define a cor de fundo do elemento "brand" como a cor principal */
    padding: 1rem; /* Adiciona preenchimento interno ao elemento "brand" */
}

#navbar { 
    display: flex; /* Define o elemento como um flexbox container */
    gap: 2rem; /* Adiciona um espaço de 2rem entre os elementos filhos */
    text-transform: uppercase; /* Converte o texto dos elementos filhos para letras maiúsculas */
    margin-right: 2rem; /* Adiciona uma margem direita de 2rem ao elemento */
}

#navbar a { 
    color: var(--primary-text-color); /* Define a cor do texto dos links dentro do "navbar" como a cor primária */
    font-weight: bold; /* Define o peso da fonte dos links como negrito */
    padding: 1rem; /* Adiciona preenchimento interno aos links */
}

h1 { 
    color: red; /* Define a cor do texto dos elementos <h1> como vermelho */
}

   




