/* variaveis das pricipais cores do site*/
:root {
    --main-color:#d92123;
    --primary-text-color:#fff;
    --secondary-text-color:#191919;
    --secondary-color:#868686;
    --tertiary-color:#eff3f4;
    --secondary-bg-color:#5c1011;
}

* {
    font-family: "Lato"; /* fonte pagrão para o site*/
    padding: 0;  /* sem borda*/
    margin: 0;  /* sem margem */
    box-sizing: border-box; 
}

a {
    text-decoration: none; /* link sem sublinhado */
}
img {
    width: 100%; /* tamanho total da imagem */    
 }
#header{
    min-height: 90vh;
    background-image: url("../images/img/main_banner4.png");
    background-size: cover;
    background-position: center;
    color:var(--primary-text-color);
    margin-bottom: 2rem;   
}
#inner-header{
    /* padrão linha */
    display: flex;
    /* alinhamento horizontal, eixo x */
    justify-content:space-between;
    /* alinhamento vertical, eixo y */
    align-items: center;
}
#brand{
    /* cor da caixa */
    background-color: var(--main-color);
    /* preenchimento da caixa*/
    padding: 1rem;   
}
#navbar{
    /* padrão linha */
    display: flex;
    /* espaçamento*/
    gap: 2rem;
    /* converte o texto em maiúsculo */
    text-transform: uppercase;
    margin-right: 2rem;
}
#navbar a {
    /* variavel*/
    color: var(--primary-text-color);
    font-weight: bold;
    /* espaço entre eles*/
    padding: 1rem;
}

h1 {
    color: red;
}

.banner.active{
    opacity: 1;  /*banner ativo é mostrado*/
}

.banner{
    max-width: 45%;
    opacity: 0;
    padding: 4rem;
    position: absolute;
}

.banner h2{
    font-size: 4rem;
    margin-bottom: 1.2rem;
    position: relative; /*posição fixa dentro da estrutura */
    z-index: 2; /*posição eixo Z (profundidade) */
}

.banner p{
    font-size: 1.5rem;
}

.square{
    display:block;
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    position: absolute; /*para definir a posição */
    left: 20px;
    top: 40px;
    z-index: 1; /*posição eixo Z (profundidade) */
}

.dots{
    display:flex;
    gap: 2rem;
    position: absolute;/*posição fixa dentro da caixa <head>*/
    bottom: 9rem;
    left: 3rem;
}

.dot{
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
}

.dot.active{
    background-color: var(--secondary-bg-color);
}

   




